<%- include('header') %>
 <section class="header">
     <nav>
         <a href="index.html">
             <img src="/img/logo.png" alt="" id="logo"></a>
             <div class="nav-links" id="nav-links">
                <i class="fa fa-times" onclick="hideMenu()" aria-hidden="true"></i>
                 <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="">About</a></li>
                     <li><a href="">Teams</a></li>
                     <li><a href="">Student Section</a></li>
                 </ul>
             </div>
             <i class="fa fa-bars" onclick="showMenu()" aria-hidden="true"></i>
     </nav> 

     <div class="text-box">
         <h1>Society of</h1>
         <h1>Civil</h1>
         <h1>Engineers</h1>
         <p>"Lorem ipsum dolor sit amet consectetur"</p>
     </div>

 </section>

 <section class="section1">
    
    <div class="content-box">
        <h1>About Us</h1>
        <p style="font-family:verdana;font-size:20px;">SOCE (Society of Civil Engineers, IIT Kanpur) is a student body. 
            It serves as a link between enrolled Civil Engineering students, alumni and professors at IIT Kanpur. 
            This society is an effort to allow free communication and sharing of ideas and information among all.</p>
            <a href="about.ejs">       
                <p style="font-family:verdana;font-size:20px;"><font color ="white"> Read More &gt; </font></p> 
            </a>
            
    </div>
    

</section>

<section class="section2" id="highlights">    
    <div class="text-box"><br>
            <h4 class=""><strong>Main Highlights</strong></h4>
            <p style="font-family:verdana;font-size:20px;">Get to know about your branch related faculties and the events organised by SoCE for you to get the feel of your branch and future possiblities for you in Civil engineering.</p>
    </div>


</section>

<section class="section3" id="highlights">    
    <div class="text-box">
            <h4 class=""><strong>Contact Us</strong></h4>
    
       <div>
       <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgTsJPjg2ex-1JmdqBCI7vls3qXk9l1K3KS9QEUP7L7g7W2g/viewform?embedded=true" width="400" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
       </div>    
    </div>


</section>



 <script>
    var navLinks=document.getElementById("nav-links");
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-60vw";
    }
</script>
<%- include('footer') %>