<%- include('header') %>
 <section class="header">
     <nav>
         <a href="index.html">
             <img src="/img/logo.png" alt="" id="logo"></a>
             <div class="nav-links" id="nav-links">
                <i class="fa fa-times" onclick="hideMenu()" aria-hidden="true"></i>
                 <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="">About</a></li>
                     <li><a href="">Teams</a></li>
                     <li><a href="">Student Section</a></li>
                 </ul>
             </div>
             <i class="fa fa-bars" onclick="showMenu()" aria-hidden="true"></i>
      </nav>

     <div class="text-box">
         <h1>Society of</h1>
         <h1>Civil</h1>
         <h1>Engineers</h1>
         <p>"Lorem ipsum dolor sit amet consectetur"</p>
     </div>
      </section>
     <!-- about us -->
<div class="about_us">
<h1>About Us</h1>
<p>SOCE (Society of Civil Engineers, IIT Kanpur) is a student body. It serves as a link between enrolled Civil Engineering students, alumni and professors at IIT Kanpur. This society is an effort to allow free communication and sharing of ideas and information among all.</p>

</div>
<!-- Main Highlights -->
<div class="Main_Highlights">

  <h1>Main Highlights</h1>
  <p>Get to know about your branch related faculties and the events organised by SoCE for you to get the feel of your branch and future possiblities for you in Civil engineering.</p>

  <div class="card_deck">

    <div class="card">
      <img class="card_image" src="/img/Student sec.jpg" alt="Student-section" >

        <h3>Student section</h3>

    </div>

    <div class="card">
      <img class="card_image" src="/img/Department.jpg" alt="Department" >

        <h3>Department</h3>

    </div>

    <div class="card">
      <img class="card_image" src="/img/Activities.jpg" alt="Activities">

        <h3>Activities</h3>

    </div>

  </div>
</div>



<!-- Recent Activities -->
<div class="Recent_Activities">
<h1 class="whiteheading">Recent Activities</h1>
</div>
<!-- Contact us -->
<div class="Contact_us">

</div>

 <script>
    var navLinks=document.getElementById("nav-links");
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-60vw";
    }
</script>
<%- include('footer') %>
